/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@300&family=Sanchez&display=swap');

// Fonts
$font-family-serif: 'Sanchez', serif; 
$font-family-sans-serif: 'Montserrat', sans-serif; 
$font-family-monospace: 'Roboto Mono', monospace;

// Colors
$dark-green: #858E79;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #9158A2;
$orange: #ad7237;

// Base document colors
$navbar-bg: $cream; // navbar
$navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: $purple; // highlight color when hovering over navbar links
$body-bg: $light-green; // page background 
$body-color: $gray; // page text 
$footer-bg: $cream; // footer 
$link-color: $purple; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color

// Code blocks
$code-block-bg: $cream; // code block background color

/*-- scss:rules --*/

// S body text
.body-text-s {
  font-size: 20px; // 19px
	line-height: 1.6em;
}

.important-text-bg {
  background-color: rgba(217, 178, 189, 0.5); 
  padding-top: 5px; 
  padding-bottom: 5px; 
  padding-right: 5px; 
  padding-left: 8px; 
  border-radius: 25px;
}

h1, h2 {
  letter-spacing: 5px;
  color: $dark-green;
}

.title {
  color: red;
}
